{
  "Defaults": {
    "solid": "Collide",
    "trigger": "Trigger",
    "ladder": "Ignore",
    "water": "Trigger",
    "weapon": "Ignore",
    "ground": "Collide",
    "player_character": "Ignore",
    "enemy_character": "Ignore",
    "player_weapon": "Ignore",
    "enemy_weapon": "Ignore",
    "collectable": "Ignore",
    "item_collector": "Unset",
    "player": "Unset",
    "follow_item_collector": "Ignore",
    "experience": "Ignore"
  },
  "Pairs": [
    {
      "a": "solid",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "playerclip",
      "r": "Ignore"
    },
    {
      "a": "trigger",
      "b": "solid",
      "r": "Trigger"
    },
    {
      "a": "playerclip",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "weapon",
      "b": "ground",
      "r": "Ignore"
    },
    {
      "a": "player_character",
      "b": "enemy_weapon",
      "r": "Trigger"
    },
    {
      "a": "player_character",
      "b": "player_weapon",
      "r": "Ignore"
    },
    {
      "a": "player_character",
      "b": "enemy_character",
      "r": "Collide"
    },
    {
      "a": "player_character",
      "b": "player_character",
      "r": "Ignore"
    },
    {
      "a": "enemy_character",
      "b": "enemy_weapon",
      "r": "Ignore"
    },
    {
      "a": "enemy_character",
      "b": "player_weapon",
      "r": "Trigger"
    },
    {
      "a": "enemy_character",
      "b": "enemy_character",
      "r": "Ignore"
    },
    {
      "a": "player_weapon",
      "b": "enemy_weapon",
      "r": "Ignore"
    },
    {
      "a": "player_weapon",
      "b": "player_weapon",
      "r": "Ignore"
    },
    {
      "a": "enemy_weapon",
      "b": "enemy_weapon",
      "r": "Ignore"
    },
    {
      "a": "ladder",
      "b": "enemy_weapon",
      "r": "Ignore"
    },
    {
      "a": "ladder",
      "b": "player_weapon",
      "r": "Ignore"
    },
    {
      "a": "ground",
      "b": "enemy_weapon",
      "r": "Ignore"
    },
    {
      "a": "ground",
      "b": "player_weapon",
      "r": "Ignore"
    },
    {
      "a": "ground",
      "b": "enemy_character",
      "r": "Collide"
    },
    {
      "a": "ground",
      "b": "player_character",
      "r": "Collide"
    },
    {
      "a": "player_weapon",
      "b": "collectable",
      "r": "Ignore"
    },
    {
      "a": "enemy_weapon",
      "b": "collectable",
      "r": "Ignore"
    },
    {
      "a": "player_character",
      "b": "item_collector",
      "r": "Ignore"
    },
    {
      "a": "enemy_character",
      "b": "item_collector",
      "r": "Ignore"
    },
    {
      "a": "enemy_weapon",
      "b": "item_collector",
      "r": "Ignore"
    },
    {
      "a": "player_weapon",
      "b": "item_collector",
      "r": "Ignore"
    },
    {
      "a": "player_character",
      "b": "collectable",
      "r": "Ignore"
    },
    {
      "a": "enemy_character",
      "b": "collectable",
      "r": "Ignore"
    },
    {
      "a": "ground",
      "b": "collectable",
      "r": "Ignore"
    },
    {
      "a": "weapon",
      "b": "collectable",
      "r": "Ignore"
    },
    {
      "a": "ground",
      "b": "item_collector",
      "r": "Ignore"
    },
    {
      "a": "weapon",
      "b": "item_collector",
      "r": "Ignore"
    },
    {
      "a": "item_collector",
      "b": "follow_item_collector",
      "r": "Ignore"
    },
    {
      "a": "player",
      "b": "follow_item_collector",
      "r": "Trigger"
    },
    {
      "a": "player_weapon",
      "b": "follow_item_collector",
      "r": "Ignore"
    },
    {
      "a": "enemy_weapon",
      "b": "follow_item_collector",
      "r": "Ignore"
    },
    {
      "a": "collectable",
      "b": "follow_item_collector",
      "r": "Ignore"
    },
    {
      "a": "enemy_character",
      "b": "follow_item_collector",
      "r": "Ignore"
    },
    {
      "a": "ground",
      "b": "follow_item_collector",
      "r": "Ignore"
    },
    {
      "a": "weapon",
      "b": "follow_item_collector",
      "r": "Ignore"
    },
    {
      "a": "experience",
      "b": "experience",
      "r": "Trigger"
    },
    {
      "a": "ground",
      "b": "experience",
      "r": "Ignore"
    },
    {
      "a": "item_collector",
      "b": "experience",
      "r": "Ignore"
    },
    {
      "a": "collectable",
      "b": "experience",
      "r": "Ignore"
    },
    {
      "a": "enemy_weapon",
      "b": "experience",
      "r": "Ignore"
    },
    {
      "a": "player_weapon",
      "b": "experience",
      "r": "Ignore"
    },
    {
      "a": "enemy_character",
      "b": "experience",
      "r": "Ignore"
    },
    {
      "a": "player_character",
      "b": "experience",
      "r": "Ignore"
    },
    {
      "a": "weapon",
      "b": "experience",
      "r": "Ignore"
    },
    {
      "a": "player",
      "b": "experience",
      "r": "Ignore"
    },
    {
      "a": "follow_item_collector",
      "b": "experience",
      "r": "Ignore"
    }
  ],
  "__guid": "0c545956-1e40-45d2-b6b2-9b5db022ea74",
  "__schema": "configdata",
  "__type": "CollisionRules",
  "__version": 1
}