@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent;
@using System;

<root>
	<div class="experience_bar">
		<span class="text">🔷 @CurrentExperience</span>
		<span class="experience">
			<span class="current_experience" style="width:@ExperiencePercentage%;"></span>
		</span>
	</div>
</root>

@code
{
	[Property] public float CurrentExperience { get; set; } = 0;
	[Property] private int ExperiencePercentage { get; set; }

	private PlayerStats playerStats { get; set; }
	private PlayerMaster playerMaster { get; set; }

	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine( CurrentExperience,ExperiencePercentage );

	protected override void OnEnabled(){
		GameObject player = GameMaster.Instance.Player;
		playerMaster = player.Components.Get<PlayerMaster>();
		playerStats = player.Components.Get<PlayerStats>();

		GameMaster.Instance.ExperienceGainEvent += UpdateExperienceCounter;
		playerMaster.EventLevelUp += OnLevelUp;
	}
	protected override void OnDisabled(){
		GameMaster.Instance.ExperienceGainEvent -= UpdateExperienceCounter;
		playerMaster.EventLevelUp -= OnLevelUp;
	}

	private void UpdateExperienceCounter(float value){
		//CurrentExperience += value;
		CurrentExperience = playerStats.Experience;
		ExperiencePercentage = ((CurrentExperience * 100) / playerStats.ExperienceNeeded).FloorToInt();
	}
	private void OnLevelUp(int level){
		UpdateExperienceCounter(0);
	}
}