@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent;


<root>
	<div class="victory-panel">
			<h1 class="victory-message">🎉You win!🎉</h1>
			<table class="stats-table">
					<tr>
							<th>Stat</th>
							<th>Value</th>
					</tr>
			</table>
	</div>
</root>

@code
{
	//[Property, TextArea] public string MyStringValue { get; set; } = "Hello World!";
	//protected override int BuildHash() => System.HashCode.Combine( MyStringValue );
}