@import "default.scss";

GameWinPanel
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #444;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	//border-radius: 20px;
	width:100%;
	height:100%;
	h1
	{
		margin-top: 1rem;
		margin-bottom:1rem;
		font-size:256px;
		font-family: Poppins;
		color: #fff;
		width:100%;
	}


	/* General reset */
	/*body, html {
		margin: 0;
		padding: 0;
		height: 100%;
		font-family: Arial, sans-serif;
		background-color: #222;
		color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
	}*/

	.victory-panel {
		position:relative;
		text-align: center;
		background-color: rgba(0, 0, 0, 0.7);
		padding: 20px;
		border-radius: 10px;
		box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
	}

	.victory-message {
		font-size: 4em;
		margin: 0;
		padding-bottom: 20px;
		color: #4CAF50;
	}

	.stats-table {
		width: 100%;
		max-width: 400px;
		margin: 0 auto;
		//border-collapse: collapse;
	}

	.stats-table th, .stats-table td {
		border: 1px solid #fff;
		padding: 10px;
		text-align: center;
	}

	.stats-table th {
		background-color: #4CAF50;
		color: #fff;
	}

	.stats-table td {
		background-color: rgba(255, 255, 255, 0.1);
	}

	.stats-table tr:hover {
		background-color: rgba(255, 255, 255, 0.2);
	}


}