@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	<div class="health_bar" style="display: @Display;">
		<span class="text">@Health/@MaxHealth</span>
		<span class="health">
			<span class="current_health" style="width:@HealthPercentage%;"></span>
		</span>
	</div>
</root>

@code
{
	[RequireComponent] private Sandbox.WorldPanel panel { get; set; }
	[Property] private string Health { get; set; } = "100";
	[Property] private string MaxHealth { get; set; } = "100";
	[Property] private int HealthPercentage { get; set; } = 100;
	[Property] private string Display { get; set; } = "flex";

	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine( Health, MaxHealth, HealthPercentage );

	private EntityMaster master;
	protected override void OnEnabled(){
		panel.LookAtCamera = true;
		panel.PanelSize = new Vector2(512,512);
		master = Components.GetInParent<EntityMaster>();
		master.EventUpdateHealthDisplay += UpdateHealthDisplay;
		master.CallEventUpdateHealthDisplay(master.Health.CurrentHealth, master.Stats.MaxHealth);
	}
	protected override void OnDisabled(){
		master.EventUpdateHealthDisplay -= UpdateHealthDisplay;
	}

	private void UpdateHealthDisplay(float currentHealth, float maxHealth){
		Health = currentHealth.ToString();
		MaxHealth = maxHealth.ToString();
		HealthPercentage = (currentHealth * 100 / maxHealth).FloorToInt();
		if(currentHealth < maxHealth){
			Display = "flex";
		} else {
			Display = "none";
		}
	}

	//public override void Reset(){
	//
	//}
}
