HealthDisplay
{
	font-size:16px;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	width: 100%;
	height:48px;
	.health_bar {
		position:relative;
		width:100%;
		height:100%;
		.health{
			background-color:black;
			position:relative;
			width:100%;
			height: 100%;
		}
		.current_health{
			background-color:red;
			position:relative;
			max-width:100%;
			height: 100%;
		}
	}

	.text
	{
		justify-content: center;
		align-items: center;
		position:absolute;
		text-align: center;
		width:100%;
		height:100%;
		font-size: 26px;
		font-family: Poppins;
		color: #fff;
		z-index: 999;
		padding:auto;
	}
}